@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
main,
#root,
#root > div {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  height: fit-content;
  overflow-x: hidden;
}

/* Remove X on ie and chrome in search bar; we'll add our own */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
